.App {
  font-size: 16px;
  margin: 48px;
  max-width: 720px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 48px 0;
}
.title {
  font-size: 32px;
  line-height: 32px;
}
.euro-price {
  line-height: 32px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  margin: 48px 0;
}
.form-row-title,
.form-row-add {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
}
label {
  display: flex;
  width: 35%;
}
input {
  display: flex;
  width: 35%;
  margin-left: 5%;
  padding: 6px;
}
button {
  display: flex;
  width: 15%;
  margin-left: 8%;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}

/* TABLE */
table, tr {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #111;
  padding: 12px;
}
th:first-of-type {
  width: 40%;
}
th {
  background-color: #eee;
}

/* SUM */
.sum-display {
  margin: 24px 0;
}